@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.clock-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#000000,#30C2D9);
    color: #D4B6B6;
}
.time, p{
    margin: 105px 0 40px 0;
    font-size: 60px;
}
p{
    position: absolute;
    right: -50px;
    bottom:20px;
    font-size: 16px;
}
.time-container{
    display: flex;
    position: relative;
 
    
}
.date{
    margin-top: 50px;
}
